accelerate==1.14.0
diffusers==0.31.0
fastapi==0.123.10
hyperpyyaml==1.2.3
httpx==0.28.1
inflect==7.5.0
librosa==0.11.0
moviepy==2.2.1
omegaconf==2.3.0
onnxruntime==1.23.2
openai-whisper==20250625
python-multipart==0.0.32
s3tokenizer==0.3.0
token2wav-cosyvoice-stepaudio2==0.1.3
torchaudio==2.8.0
transformers==4.51.0
uvicorn==0.49.0
websockets==16.0
